@font-face {
    font-family: "HKGrotesk-medium";
    src: url(../src/Font/HKGrotesk-Medium.otf) format("opentype");
}
@font-face {
    font-family: "SFUIText-Regular";
    src: url(../src/Font/SFUIText-Regular.ttf) format("opentype");
}
@font-face {
    font-family: "Hack-Regular";
    src: url(../src/Font/Hack-Regular.ttf) format("opentype");
}

*{
    margin: 0;
    padding: 0;
}
/* HEADER */
header{
    background-color: #151B2B;
    color: #FFFFFF;
    padding: 2em;
    font-family: "HKGrotesk-medium";
}

.logoQovery{
    display: flex;
    align-items: center;
    padding-left: 2em;
}

.logoQovery img{
    width: 40px;
    margin: 1em;
}

.logoQovery p{
    color:#A8A8C1;
    font-size:25px;
}

.headerAll{
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.headerAll:nth-of-type(1) img{
    max-width: 400px;
}

.headerLogo{padding-bottom: 100px;}

.headerText{
    padding: 2em;
    max-width: 450px;
    margin: 0 0vh 1.9em 12vh;  
}

.headerLogo{padding-bottom: 100px;}

.headerText h1{
    padding-bottom: 0.5em;
    font-size: 41px;
}

.headerText h3{
    padding-bottom: 1em;
    font-size: 23px;
}

.headerText p{font-family: "SFUIText-Regular";}

.headerText a{
    background-color:#454658;
    color: #FFFFFF;
    padding: 0.6em;
    border-radius: 3px;
    text-decoration: none;
    transition:.2s;
}

.headerText a:hover{
    transform: scale(1.2);
}

.headerText a:nth-of-type(2){
    background-color:#6578C0;
}
.stars{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.links{
    display: flex;
    justify-content: space-between;
    width: 21em;
    padding-top: 3em;
}

.links a{display: inline-block;}

.links a img{
    height: 0.9rem;
    margin-right: 0.3em;
}
/* MAIN */
main{
    padding-top: 6em;
    background-color: #F9F9FD;
    text-align: center;
    margin: 0 auto;
}
main h2{
    color: #454658;
    font-family: "HKGrotesk-medium";
    font-size: 30px;
    padding-bottom: 1em;
}
main p{
    font-family: "SFUIText-Regular";
    margin: 0 auto;
}

.work p{
    width: 50.8em;
    padding-bottom: 2em;
    max-width: fit-content;
}

.work img{
    width: 704px;
    max-width: 100%;
}

.usage{position: relative;}

.usage img{
    width: 802px;
    max-width: 100%;
}

.usageText{
    position: absolute;
    left: 36%;
    top: 30%;
}

.bleu{color: #9A9EE3;}

.gris{color: lightgrey;}

.violet{color: #D8AFF7;}

.orange{color: #FF6240;}

.turquoise{color:#89DDE5;}

.code{
    font-family: "Hack-Regular";
    margin: 0 auto;
    width: 50em;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    text-align: start;
    width: 60rem;
    max-width: 100%;
    overflow: auto;
}

.code img{margin: 1.25em 1.75em;}

.mainLinks{padding-top: 3.1em;}

.mainLinks a{
    display: inline-block;
    background-color:#454658;
    color: #FFFFFF;
    padding: 0.6em;
    border-radius: 3px;
    text-decoration: none;
    font-family: "SFUIText-Regular";
    transition:.2s;
}

.mainLinks a:hover{transform: scale(1.2);}

.mainLinks a:nth-of-type(2){background-color:#6578C0;}

main h3{
    padding-top: 4.8em;
    color: #454658;
    font-family: "HKGrotesk-medium";
    font-size: 30px;
}

/* ARTICLES */
article{
    max-width: 400px;
    text-align: left;
}
article:nth-of-type(1) a {margin-top: 1.25em;}

article:nth-of-type(4) a {margin-top: 4.8em;}

.allArticles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1150px;
    padding-top: 6.25em;
}

.allArticles a{
    display: inline-block;
    font-family: "SFUIText-Regular";
    text-transform: uppercase;
    color: #5D64D2;
    overflow: hidden;
    background: linear-gradient(to right, purple, purple 50%, royalblue 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    transition:275ms ease;
    text-decoration: none;
   
}

.allArticles a:hover{background-position: 0 100%;}

.mainLinks a:first-of-type{margin-right: 1.25em;}

.allArticles p{margin-bottom: 0.9em;}

/* FOOTER */

footer{
    font-family: "SFUIText-Regular";
    background-color: #151B2B;
    color: #f6f6f6;
}

footer img{width: 40px;}

.footerText{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1280px;
    padding: 3.1em;
    border-bottom: 1px white solid
}

.footera{width: 400px;}


.footeraText {
    color:rgb(179, 173, 173);
    margin: 3.1em 0;
    width: 330px;
}

.footerQovery{
    color: rgb(221 212 212);
    display: flex;
    font-size:25px;
}

.footerQovery p{margin: 0.2em 0 0 0.8em;}

.footerLogos{
    display: flex;
    justify-content: space-between;
    width: 164px;
}
.footerLogos img{
    width: 20px;
    border: rgb(221 212 212) 1px solid;
    border-radius: 7px;
    padding: 0.2em;
    filter: brightness(0.7);
}

.footerStars{
    padding-top: 2.2em;
}

footer nav li{list-style: none;}

footer nav a{
    padding: 0.6em 0;
    display: inline-block;
    color: rgb(179, 173, 173);
    text-decoration: none;
}

.linksA{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.linksA:nth-of-type(2) ul{
    margin-left: 3.1em;
}
.linksA:nth-of-type(3) ul{
    margin-left: 3.1em;
}

footer nav a:hover{text-decoration: underline;}

footer h3{
    font-family: "HKGrotesk-medium";
    margin-bottom: 1.9em;
    color: rgb(221 212 212);
}

.footerLinks{
    display: flex;
    justify-content: space-around;
}

.footerLinks nav{
    width: 155px;
}

.copyright{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1.4em 0 1.4em;
    max-width: 1444px;
}

.copyright p{color: rgb(221 212 212);}

.copyright a{
    color: rgb(179, 173, 173);
    text-decoration: none;
}

.copyright a:hover{text-decoration: underline;}

/* MEDIA QUERIES */

@media  screen and (max-width:1304px){
    .usageText {
        position: absolute;
        left: 30%;
        top: 30%;
    }
}

@media screen and (max-width:1243px){
    .copyright{
        max-width: fit-content;
    }
}

@media screen and (max-width:1155px){
    .footera{
        padding-right: 5.5em;
        width: 200px;
    }
}

@media screen and (max-width:1075px){
    .footera p{
        width: fit-content;
    }
} 
@media screen and (max-width:1071px){
    .stars {
        display: inline;
    }
} 


@media screen and (max-width:1007px){
    .footera{
    padding: 0 0 1.6em 1.25em;
    width: 400px;
    }
}

@media screen and (max-width:996px){
    .usageText {
        position: absolute;
        left: 23%;
        top: 30%;
    }
}
@media screen and (max-width:962px){
    footer ul{
        padding-left: 0.3em;
    }
}
@media screen and (max-width:934px){
    .headerAll:nth-of-type(1) img{
        display: none;
    }
}
@media screen and (max-width:934px){
    article:nth-of-type(4) img{
        width: 371px;
    }
}

@media screen and (max-width:834px){
    article:nth-of-type(4) img{
        width: -webkit-fill-available;
    }
    .usageText {
        position: absolute;
        left: 23%;
        top: 30%;
    } 
}
@media screen and (max-width:830px){
    .footera{
        padding-bottom: 1.6em;
    }
}
@media screen and (max-width:799px){
    article:nth-of-type(4) a{
        margin: 0;
    }
}
@media screen and (max-width:770px){
    article:nth-of-type(4) a{
        margin: 0;
    }
    .usageText {
        position: absolute;
        left: 14%;
        top: 30%;
    } 
}
@media screen and (max-width:719px){
    .espace{
        padding-top: 11em;
    }
}
@media screen and (max-width:706px){
    .copyright{
        max-width: fit-content;
    }
}

@media screen and (max-width:660px){
    .copyright{
        flex-wrap: wrap;
    }
    .usageText{
        position: sticky;
    }
}

@media screen and (max-width:533px){
    .headerText {
        padding: 0;
        margin: 0 auto;
    }
}

@media screen and (max-width:462px){
    .copyright{
        text-align: center;
    }
    .copyright p{
        padding-top: 0.6em;
    }
}
@media screen and (max-width:408px){
    article{
        text-align: center;
    }
}
@media screen and (max-width:400px){
    article:nth-of-type(4) img {
        width:350px;
    }
}
@media screen and (max-width:368px){
    .links{
    width: 283px;
    }
}
@media screen and (max-width:350px){
    .mainLinks a:nth-of-type(2){
    margin: 1.25em 0.6em 0 0
    }
}
@media screen and (max-width:340px){
    article p{
    width: 255px;
    }
}

@media screen and (max-width:322px){
    .links{
    width: 283px;
    display: inline;
    }

    .links a{
        margin-top: 1.25em;
    }

    .linksA:nth-of-type(2){
        padding-top: 3.1em;
    }
    
    .footerLinks{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .linksA:nth-of-type(2) ul {
        margin:0;
    }

    .espace{
        padding: 0;
    }

    footer nav:nth-of-type(2){
        padding-top: 3.1em;
    }
}

@media screen and (max-width:310px){
    article:nth-of-type(2) img{
        width: 260px;
    }

    .linksA:nth-of-type(2) ul {margin:0;}
}
